@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Test different functions via the buttons.
        </br>
        One button does't work properly but that is the intention. This can clarify the difference in monitoring.
    </p>
    @* Eddit in text that error we use is 404, maby later we kan use an other request *@
    <button type="button" class="btn btn-primary" onclick="TestCorrectRequest()">Correct request</button>
    <button type="button" class="btn btn-primary" onclick="TestFalsetRequest()">False request</button>
</div>

<script>
    function TestCorrectRequest() {
            fetch('https://jsonplaceholder.typicode.com/todos/1')
                .then(function (response) {
                    if (!response.ok) {
                        throw Error(response.statusText);
                    }
                    return response.json();
                })
                .then(function (myJson) {
                    console.log(myJson);
                })
                .catch(function (error) {
                    console.log("[!] ERROR: " + error);
                });
    };
    function TestFalsetRequest() {
            fetch('https://jsonplaceholder.typicode.com/todos/10293029')
                .then(function (response) {
                    if (!response.ok) {
                        throw Error(response.statusText);
                    }
                    return response.json();
                })
                .then(function (myJson) {
                    console.log(myJson);
                })
                .catch(function (error) {
                    console.log("[!] ERROR occurred in request");
                });
    }
</script>